/* Feature Rotator
   Updated: 2011.11.17 RKD
   Author: Ryan Dunwiddie
   ----------------------------------------------------*/

@media screen,projection {

  #feature {position:relative; overflow:hidden; height:auto; margin:0 0 20px 0; cursor:pointer; border:1px solid #002b5c; background:#002b5c; }
  #feature ul {margin:0;  padding:0; list-style:none; width:100%; border-bottom:0px solid #3e3e3e;}
  #feature li {position:absolute; top:0px; margin:0; width:100%; }
  #feature li a {display:block;}
  #feature li img {display:block;border-right:0px solid #3e3e3e; border-bottom:0px solid #3e3e3e; max-width:758px; width:100%;}
  #feature li iframe	{float:none;margin:0 auto; width:100%;}
  #feature #arrow	{ }
  #feature #arrow	{width:44px; height:22px; position:relative; float:left; top:auto; left:auto;margin-top:-21px;background:url(assets/feature-arrow.png) top center no-repeat;}

  .feature {position:relative; float:left; width:28%; margin:0px 0 0; color:#fff; padding:15px 16px; border-top:#002b5c; border-right:1px solid #002b5c;
  background: rgb(0,43,92);
  background: -moz-linear-gradient(top,  rgba(0,43,92,1) 0%, rgba(0,63,114,1) 42%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,43,92,1)), color-stop(42%,rgba(0,63,114,1)));
  background: -webkit-linear-gradient(top,  rgba(0,43,92,1) 0%,rgba(0,63,114,1) 42%);
  background: -o-linear-gradient(top,  rgba(0,43,92,1) 0%,rgba(0,63,114,1) 42%);
  background: -ms-linear-gradient(top,  rgba(0,43,92,1) 0%,rgba(0,63,114,1) 42%);
  background: linear-gradient(top,  rgba(0,43,92,1) 0%,rgba(0,63,114,1) 42%);
  }
  .feature.current.hover,
  .feature.current {background: rgb(183,140,37);
  background: -moz-linear-gradient(top,  rgba(183,140,37,1) 0%, rgba(221,181,59,1) 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,140,37,1)), color-stop(99%,rgba(221,181,59,1)));
  background: -webkit-linear-gradient(top,  rgba(183,140,37,1) 0%,rgba(221,181,59,1) 99%);
  background: -o-linear-gradient(top,  rgba(183,140,37,1) 0%,rgba(221,181,59,1) 99%);
  background: -ms-linear-gradient(top,  rgba(183,140,37,1) 0%,rgba(221,181,59,1) 99%);
  background: linear-gradient(top,  rgba(183,140,37,1) 0%,rgba(221,181,59,1) 99%);
  }
  .feature.hover{background: rgb(59,86,114);
  background: -moz-linear-gradient(top,  rgba(59,86,114,1) 0%, rgba(81,111,142,1) 42%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,86,114,1)), color-stop(42%,rgba(81,111,142,1)));
  background: -webkit-linear-gradient(top,  rgba(59,86,114,1) 0%,rgba(81,111,142,1) 42%);
  background: -o-linear-gradient(top,  rgba(59,86,114,1) 0%,rgba(81,111,142,1) 42%);
  background: -ms-linear-gradient(top,  rgba(59,86,114,1) 0%,rgba(81,111,142,1) 42%);
  background: linear-gradient(top,  rgba(59,86,114,1) 0%,rgba(81,111,142,1) 42%);
  }
  .feature h2,
  .feature h3 {margin-top:0;color:#fff;}
  .feature.current h2,
  .feature.current h3 {font-size:1.6rem; margin-bottom:10px; line-height:1.4rem; text-shadow: 1px 1px 2px #333333;}
  .feature h2 a,
  .feature h3 a {text-decoration:none; word-wrap:break-word;}
  .feature p {float:none; margin:0; color:#fff; word-wrap:break-word;}
  .feature a {color:#fff; text-decoration:none;}
  .feature.current a a {text-decoration:underline;}
  .feature.current p {text-shadow: 1px 1px 2px #333333;}
  .feature .image-left,
  .feature .image-right,
  .feature .image-default,
  .feature img {display:none; padding:0; border:none;}
  .feature iframe {display:none;}
  .feature:last-child	{border-right:0;}
  .no-js .feature:first-child img {display:block;}
  .no-js .feature {float:left; width:100%;}
  
}

/*************************************************************************************
 * @media queries
 ************************************************************************************/

/* Tablets landscape ----------- */
@media only screen and (max-width:1100px) {}

/* Tablets portrait ----------- */
@media only screen and (max-width:800px) {}

/* Mid-Size Tablets (Galaxy Tab) (portrait) ----------- */
@media only screen and (max-width:640px) {
    .feature.current h2,
    .feature.current h3 {font-size:1.6rem;}
	.feature {font-size:14px;}
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width:480px) {
    .feature.current h2,
    .feature.current h3 {font-size:1.3rem;}
	.feature {font-size:13px;}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width:320px) {}

/* iPhone4 and high pixel ratio devices ----------- */
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {}

/*************************************************************************************
 * Print Styles
 ************************************************************************************/
@media print {
	
	#feature ul {display:none;}
	#feature .feature {position:relative; float:left; width:100%!important; height:auto!important;}
	#feature .feature img{position:relative;float:left;}
	#feature .feature iframe {display:none;}
}